@import "tailwindcss";

@theme {
  /* Wise Design System Tokens */
  --color-wise-primary: #9fe870;
  --color-wise-primary-active: #cdffad;
  --color-wise-primary-neutral: #c5edab;
  --color-wise-primary-pale: #e2f6d5;
  
  --color-wise-ink: #0e0f0c;
  --color-wise-ink-deep: #163300;
  --color-wise-body: #454745;
  --color-wise-mute: #868685;
  
  --color-wise-canvas: #ffffff;
  --color-wise-canvas-soft: #e8ebe6;
  
  --color-wise-positive: #2ead4b;
  --color-wise-positive-deep: #054d28;
  
  --color-wise-warning: #ffd11a;
  --color-wise-negative: #d03238;
  --color-wise-negative-bg: #320707;
  
  --color-wise-accent-orange: #ffc091;
  --color-wise-accent-cyan: #38c8ff;
}
